* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Galactic Storm", sans-serif;
}

body {
  background-color: #739072;
}

/* nav bar */
#titleNav {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-self: center;
  font-family: "8BIT WONDER", sans-serif;
  font-size: 40px;
  background-color: #4f6f52;
  color: #d2e3c8;
  position: sticky;
}

#subNav {
  padding: 0px 0px 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "8BIT WONDER", sans-serif;
  font-size: 40px;
  background-color: #4f6f52;
  color: #d2e3c8;
  position: sticky;
}

#subNav h4 {
  grid-column: 1;
  margin: 0px 0px 0px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

#subNav div {
  grid-column: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#subNav div button {
  display: inline-block;
  background-color: #739072;
  color: #d2e3c8;
  width: 100px;
  height: 45px;
  border: none;
}

#subNav div button:hover {
  background-color: #86a789;
  color: #4f6f52;
}

/* center the login field */
#loginField,
#authField,
#registerField {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-self: center;
}

#registerField form {
  height: 600px;
}

/* align form contents */
.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 10px 0px;
}

/* style <input> tag */
.inputContainer input {
  border: none;
  color: white;
  background-color: #86a789;
  padding: 0px 5px;
  margin-top: 10px;
  height: 25px;
  width: 150px;
}

.inputContainer select {
  border: none;
  background-color: #86a789;
  height: 25px;
  width: 150px;
}

/* style form button */
.inputContainer button {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 65px;
  height: 25px;
  border: none;
}

/* reponsive button and <span> tag */
.inputContainer button:hover {
  background-color: #86a789;
  color: #4f6f52;
}

.inputContainer p span:hover {
  cursor: pointer;
  color: #739072;
}

.accountMessage {
  padding-top: 10px;
}

/* page class styling */
.page {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
}

.page button {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 85px;
  height: 45px;
  border: none;
  margin: 10px;

  &:hover {
    background-color: #86a789;
    color: #4f6f52;
  }
}

.page img {
  margin: 10px;
}

.sectionContainer {
  margin: 50px 50px 50px 50px;
  align-self: center;
  border-radius: 10px;
  background-color: #d2e3c8;
  color: #4f6f52;
  font-size: 20px;
}

.sectionContainer * {
  margin: 0px 10px;
}

.sectionContainer select,
.sectionContainer input {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 100px;
  height: 25px;
  border: none;
  margin: 10px;
}

.gameThumbnail {
  margin: 20px 20px 20px 20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #4f6f52;
  color: #d2e3c8;
  font-size: 20px;
  user-select: none;

  background-size: 150px 150px;
  &:hover {
    background-color: #86a789;
    color: #4f6f52;
    cursor: pointer;
  }

  & div {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    border-radius: 10px 10px 0px 0px;
  }
}

.searchInput {
  align-self: flex-start;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.gameListDiv {
  display: grid;
  background-color: RGBA(0, 0, 0, 0);
  grid-template-columns: 200px 200px 200px;
  align-self: start;
}

.scoreTableRow {
  display: grid;

  grid-template-columns: 50px 200px 200px 200px 50px;
  align-self: start;

  &:nth-child(2n) {
    background-color: #86a789;
  }
}

/* user page */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userTitle {
  margin: 15px 0px 15px 5px;
}

.profileData p {
  margin: 5px 0px 5px 0px;
}
.profileData input {
  color: white;
  background-color: #86a789;
}

::placeholder {
  color: #4f6f52;
}

.profileData span {
  color: #739072;
}

#profileActions {
  padding: 20px 0px 20px 0px;
}

#profileActions button {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 65px;
  height: 25px;
  border: none;
}

/* reponsive button and <span> tag */
#profileActions button:hover {
  background-color: #86a789;
  color: #4f6f52;
}

/* color game styling */

#colorStart {
  cursor: pointer;
  color: #d2e3c8;
  background-color: #4f6f52;
  padding: 5px;
  border-radius: 5px;
}

#colorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorField {
  margin: 50px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: #4f6f52;
}

#inputField {
  width: 1fr;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#inputField div {
  width: 75px;
  height: 75px;
  color: #4f6f52;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: #4f6f52;
  transition: filter 0.5s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#inputField div:hover {
  cursor: pointer;
  filter: brightness(75%);
}

/* styling for reaction game */

#reactionWrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reactionBox {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #d2e3c8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* prisoner game styling */
.prisonerHistoryGrid {
  display: grid;

  grid-template-columns: 50px 100px 100px 50px;
  align-self: start;

  &:nth-child(2n) {
    background-color: #86a789;
  }
}

/* minesweeper styling */
.minesweeperGridRow {
  display: grid;

  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;

  & .minesweeperCell {
    user-select: none;
    transition: 200ms;

    margin: 0px;
    border: 2px solid grey;
    color: black;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      transform: scale(0.9);
    }
  }
}

.modal {
  transition: 500ms;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* battleship styling */
.battleshipGridRow {
  display: grid;

  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px;

  & .battleshipCell {
    user-select: none;
    transition: 200ms;

    margin: 0px;
    border: 2px solid black;
    color: black;
    background-color: RGBA(0, 0, 0, 0);

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
  & .battleshipToken {
    width: 20px;
    height: 20px;
    border-radius: 100;
    background-color: white;
    align-self: center;
    justify-self: center;
  }
}

/* grob (dungeon crawler game) styling */

#grobWrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#grobWrapper h1 {
  text-align: center;
  color: #d2e3c8;

}

#gameStats {
  margin: 10px;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  background-color: #4f6f52;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


#doors {
  width: 2fr;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.grobDoor {
  height: 200px;
  width: 200px;
  margin: 50px 20px;
  border-radius: 100% 100% 0% 0%;
  background-color: #86a789;
  border-width: 16px;
  border-style: solid;
  border-color: #4f6f52;
  transition: height 1s, width 1s;
}

.grobDoor:hover {
  height: 210px;
  width: 210px;
}



#userActions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* styling for dice field */
#diceSpace {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#diceSpace h2 {
  color: #d2e3c8;
  background-color: #4f6f52;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transition: padding 1s;
}




#diceSpace h2:hover {
  padding: 15px;
  cursor: pointer;
}

#diceBag {
  margin: 0px 10px;
  background-color: #86a789;
  border-color: #4f6f52;
  border-radius: 5px;
  border-width: 16px;
  border-style: solid;
  height: 350px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

}


.grobDice {
  margin: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f6f52;
  color: #d2e3c8

}

.grobDice:hover {
  cursor: pointer;
  border-width: 6px;
  border-style: solid;
  border-color: #d2e3c8;
}



/* styling for potion field */
#potionSpace {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#potionSpace h2 {
  position: static;
  color: #d2e3c8;
  background-color: #4f6f52;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transition: padding 1s;
}

#potionSpace h2:hover {
  padding: 15px;
  cursor: pointer;
}

#potionBag {
  margin: 0px 10px;
  background-color: #86a789;
  border-color: #4f6f52;
  border-radius: 5px;
  border-width: 16px;
  border-style: solid;
  height: 350px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

}

.grobPotion {
  margin: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f6f52;
  color: #d2e3c8

}

.grobPotion:hover {
  cursor: pointer;
  border-width: 6px;
  border-style: solid;
  border-color: #d2e3c8;
}




/* styling for the battle system (page) */
#battlePage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#battleField {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.spriteField {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.spriteField h1 {
  margin: 70px 0px 10px 0px;
  color: #d2e3c8;
}

.spriteField p {
  margin-top: 10px;
  color: #d2e3c8;
}

.battleDice {
  width: 200px;
  height: 200px;
  font-size: 40px;
  border-width: 12px;
  border-style: solid;
  border-color: #4f6f52;
  color: #4f6f52;
  background-color: #86a789;
  margin: 0px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.battleDice p {
  font-size: 18px;
}

#battleWrapper #battleButton {
  text-align: center;
  color: #d2e3c8;
  background-color: #4f6f52;
  border-radius: 10px;
  margin: 30px 0px 20px 0px;
  padding: 10px;
  transition: padding 1s;
}

#battleWrapper #battleButton:hover {
  padding: 15px;
  cursor: pointer;
}






/*Tic Tac Toe styling*/
.tictactoeCell {
  margin: 20px 20px 20px 20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #4f6f52;
  color: #d2e3c8;
  font-size: 150px;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #86a789;
    color: #4f6f52;
    cursor: pointer;
  }
}

/* sandbox styling */
.sandboxGridRow {
  display: grid;

  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;

  & .sandboxCell {
    user-select: none;
    transition: 150ms;

    margin: 0px;
    border: 1px solid BLACK;
    border-radius: 2px;

    width: 20px;
    height: 20px;

    display: flex;

    &:hover {
      cursor: pointer;
    }
  }
}

.sandboxRuleRow {
  display: grid;

  grid-template-columns: 20px 20px 20px;

  & .sandboxCell {
    user-select: none;
    transition: 150ms;

    margin: 0px;
    align-items: center;
    border: 1px solid BLACK;

    width: 20px;
    height: 20px;

    display: flex;

    &:hover {
      cursor: pointer;
    }
  }
}

.sandboxRule {
  background-color: #4f6f52;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sandboxRuleGrid {
  display: grid;

  grid-template-columns: 150px 150px 150px 150px;
}
