* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Galactic Storm", sans-serif;
}

body {
  background-color: #739072;
}

/* nav bar */
#titleNav {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-self: center;
  font-family: "8BIT WONDER", sans-serif;
  font-size: 40px;
  background-color: #4f6f52;
  color: #d2e3c8;
  position: sticky;
}

#subNav {
  padding: 0px 0px 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "8BIT WONDER", sans-serif;
  font-size: 40px;
  background-color: #4f6f52;
  color: #d2e3c8;
  position: sticky;
}

#subNav h4 {
  grid-column: 1;
  margin: 0px 0px 0px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

#subNav div {
  grid-column: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#subNav div button {
  display: inline-block;
  background-color: #739072;
  color: #d2e3c8;
  width: 100px;
  height: 45px;
  border: none;
}

#subNav div button:hover {
  background-color: #86a789;
  color: #4f6f52;
}

/* center the login field */
#loginField,
#authField,
#registerField {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-self: center;
}

#registerField form {
  height: 600px;
}

/* align form contents */
.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 10px 0px;
}

/* style <input> tag */
.inputContainer input {
  border: none;
  color: white;
  background-color: #86a789;
  padding: 0px 5px;
  margin-top: 10px;
  height: 25px;
  width: 150px;
}

.inputContainer select {
  border: none;
  background-color: #86a789;
  height: 25px;
  width: 150px;
}

/* style form button */
.inputContainer button {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 65px;
  height: 25px;
  border: none;
}

/* reponsive button and <span> tag */
.inputContainer button:hover {
  background-color: #86a789;
  color: #4f6f52;
}

.inputContainer p span:hover {
  cursor: pointer;
  color: #739072;
}

.accountMessage {
  padding-top: 10px;
}

/* page class styling */
.page {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
}

.page button {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 85px;
  height: 45px;
  border: none;
  margin: 10px;

  &:hover {
    background-color: #86a789;
    color: #4f6f52;
  }
}

.page img {
  margin: 10px;
}

.sectionContainer {
  margin: 50px 50px 50px 50px;
  align-self: center;
  border-radius: 10px;
  background-color: #d2e3c8;
  color: #4f6f52;
  font-size: 20px;
}

.sectionContainer * {
  margin: 0px 10px;
}

.sectionContainer select,
.sectionContainer input {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 100px;
  height: 25px;
  border: none;
  margin: 10px;
}

.gameThumbnail {
  margin: 20px 20px 20px 20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #4f6f52;
  color: #d2e3c8;
  font-size: 20px;
  user-select: none;

  background-size: 150px 150px;
  &:hover {
    background-color: #86a789;
    color: #4f6f52;
    cursor: pointer;
  }

  & div {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    border-radius: 10px 10px 0px 0px;
  }
}

.searchInput {
  align-self: flex-start;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.gameListDiv {
  display: grid;
  background-color: RGBA(0, 0, 0, 0);
  grid-template-columns: 200px 200px 200px;
  align-self: start;
}

.scoreTableRow {
  display: grid;

  grid-template-columns: 50px 200px 200px 200px 50px;
  align-self: start;

  &:nth-child(2n) {
    background-color: #86a789;
  }
}

.tictactoeCell {
  margin: 20px 20px 20px 20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #4f6f52;
  color: #d2e3c8;
  font-size: 20px;
  user-select: none;

  &:hover {
    background-color: #86a789;
    color: #4f6f52;
    cursor: pointer;
  }
}

/* user page */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userTitle {
  margin: 15px 0px 15px 5px;
}

.profileData p {
  margin: 5px 0px 5px 0px;
}
.profileData input {
  color: white;
  background-color: #86a789;
}

::placeholder {
  color: #4f6f52;
}

.profileData span {
  color: #739072;
}

#profileActions {
  padding: 20px 0px 20px 0px;
}

#profileActions button {
  display: inline-block;
  background-color: #4f6f52;
  color: #d2e3c8;
  width: 65px;
  height: 25px;
  border: none;
}

/* reponsive button and <span> tag */
#profileActions button:hover {
  background-color: #86a789;
  color: #4f6f52;
}

/* color game styling */

#colorStart {
  cursor: pointer;
  color: #d2e3c8;
  background-color: #4f6f52;
  padding: 5px;
  border-radius: 5px;
}

#colorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorField {
  margin: 50px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: #4f6f52;
}

#inputField {
  width: 1fr;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#inputField div {
  width: 75px;
  height: 75px;
  color: #4f6f52;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: #4f6f52;
  transition: filter 0.5s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#inputField div:hover {
  cursor: pointer;
  filter: brightness(75%);
}




/* styling for reaction game */

#reactionWrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reactionBox {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #D2E3C8;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* prisoner game styling */
.prisonerHistoryGrid {
  display: grid;

  grid-template-columns: 50px 100px 100px 50px;
  align-self: start;

  &:nth-child(2n) {
    background-color: #86a789;
  }
}

/* minesweeper styling */
.minesweeperGridRow {
  display: grid;

  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;

  & .minesweeperCell {
    user-select: none;
    transition: 200ms;

    margin: 0px;
    border: 2px solid grey;
    color: black;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      transform: scale(0.9);
    }
  }
}

.minesweeperModal {
  transition: 500ms;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
